@mixin navLogoBoxes($height: 190px) {
    height: $height;
    float: left;
}

@mixin imgBackground ($image, $repeat:no-repeat, $color: none) {
    background-image: $image;
    background-repeat: $repeat;
    margin: 0;
    background-color:$color;
}

@mixin headerMain() {
    width:inherit;
    clear:both;
    text-align:center;
    padding-top:40px;
}

@mixin headerBoxes($color:$color-salmon, $weight: 100, $size: 4em){
    color:$color;
    font-weight: $weight;
    font-size:$size;
    line-height:0;
}