// VARIABLES

// COLORS
$color-salmon:#E65C43;
$color-salmon2: #F25C43;
$color-white: #FFF;
$color-white2: #F5F6F6;
$color-lightgray: #666;
$color-darkgray: #30353D;

// IMAGE PATH
$img-body: '../images/bg.gif';
$img-logo: '../images/logo.png';
$img-social: '../images/social-media.png';

// WEB FONTS
$font-body: 'Roboto';

