@import "variables", "mixins", "mediaquery";

// BASIC STYLES
body {
    font-family: $font-body, sans-serif;
    font-size:1em;
    line-height:2em;
    @include imgBackground(url('#{$img-body)}'), repeat-x, $color-white);
}
main {
    width:940px;
    @include mediaQuery(959px) {
        width: 768px;
      }
    @include mediaQuery(767px) {
        width: 460px;
    }
    @include mediaQuery(459px) {
        width: 300px;
    }
    margin:0 auto;
    padding:0 10px;
}

@import "navigation";

// HEADER
header {
    @include headerMain();
}
header img {
    max-width: 100%;
    height: auto;
    @include mediaQuery(767px) {
        margin-bottom:100px;
    }
    @include mediaQuery(459px) {
        margin-bottom:80px;
    }
}
header h1 {
    @include headerBoxes();
    @include mediaQuery(959px) {
        font-size:3em;
      }
    @include mediaQuery(767px) {
    font-size:2em;
    }
}

header h1:first-child {
    @include mediaQuery(459px) {
        font-size:1.4em;
        margin-bottom:20px;
    }
}

header h2 {
    @include headerBoxes($color-white, 900, 2.5em,);
    margin-bottom:70px;
    @include mediaQuery(959px) {
        font-size:1.5em;
    }
    @include mediaQuery(767px) {
        font-size:1em;
    }
    @include mediaQuery(459px) {
        font-size:1.4em;
    }
}
header h3 {
    @include headerBoxes($color-lightgray, 400, 2em);
    margin-bottom:50px;
    @include mediaQuery(767px) {
        font-size:1.5em;
    }
    @include mediaQuery(459px) {
        color: $color-white;
        font-size:1em;
    }
}


// CONTENT
#headline {
    width:100%;
    height:130px;
    background:$color-salmon2;
    text-align:center;
    margin:0 auto;
}
#headline h1 {
    color:$color-white;
    font-size:2.5em;
    font-weight:100;
    padding-top:50px;
    @include mediaQuery(767px) {
        font-size:2em;
        padding-top:50px;
    }
    @include mediaQuery(459px) {
        font-size:1.5em;
        padding-top:30px;
    }
}
#content {
    width:940px;
    margin:20px auto;
    @include mediaQuery(959px) {
        width:inherit;
    }
}
#content h3 {
    color:$color-lightgray;
    font-size:2em;
    font-weight:400;
    @include mediaQuery(459px) {
        font-size:1.6em;
    }
}
#content #products {
    @include contentBoxes();
    @include mediaQuery(959px) {
        width:46%;
        margin:0 2%;
    }
    @include mediaQuery(767px) {
        width:96%;
        margin:0 2%;
        float:none;
    }
}
#content #products img {
    float:left;
    margin-right:20px;
}
#content #products article {
    margin-bottom:40px;
}
article img{
    @include mediaQuery(459px) {
        display:none;
    }
}
#content #products h4 {
    line-height:1em;
}
#content #testimonials {
    @include contentBoxes(right);
    @include mediaQuery(959px) {
        width:46%;
        margin:0 2%;
    }
    @include mediaQuery(767px) {
        width:96%;
        margin:0 2%;
        float:none;
    }
}


// FOOTER
.greybar {
    @include footerBoxes();
    clear:both;
    @include mediaQuery(459px) {
        display:none;
    }
}
footer {
    @include footerBoxes(120px, $color-darkgray, 50px);
    color: $color-white;
    text-align:center;
    @include mediaQuery(459px) {
        text-align:center;
    }
}
footer p, footer img {
    @include mediaQuery(459px) {
        float:none;
        margin:0;
    }
}
.social-media {
    margin:0 auto;
    width:165px;
}
.social-media div {
    float:left;
    margin-right:5px;
}
.social-media a {
    display:block;
    width:36px;
    height:36px;
    text-indent:-9999px;
}
.social-media div.one {
    background:url('#{$img-social}') 0 0;
}
.social-media div.two {
    background:url('#{$img-social}') -38px 0;
}
.social-media div.three {
    background:url('#{$img-social}') -76px 0;
}
.social-media div.four {
    background:url('#{$img-social}') -114px 0;
}