@import "variables", "mixins";

// BASIC STYLES
body {
    font-family: $font-body, sans-serif;
    font-size:1em;
    line-height:2em;
    @include imgBackground(url('#{$img-body)}'), repeat-x, $color-white);
}
main {
    width:940px;
    margin:0 auto;
    padding:0 10px;
}

@import "navigation";

// HEADER
header {
    @include headerMain();
}
header img {
    max-width: 100%;
    height: auto;
}
header h1 {
    @include headerBoxes();
}
header h2 {
    @include headerBoxes($color-white, 900, 2.5em,);
    margin-bottom:70px;
}
header h3 {
    @include headerBoxes($color-lightgray, 400, 2em);
    margin-bottom:50px;
}


// CONTENT
#headline {
    width:100%;
    height:130px;
    background:$color-salmon2;
    text-align:center;
    margin:0 auto;
}
#headline h1 {
    color:$color-white;
    font-size:2.5em;
    font-weight:100;
    padding-top:50px;
}
#content {
    width:940px;
    margin:20px auto;
}
#content h3 {
    color:$color-lightgray;
    font-size:2em;
    font-weight:400;
}
#content #products {
    width:460px;
    float:left;
}
#content #products img {
    float:left;
    margin-right:20px;
}
#content #products article {
    margin-bottom:40px;
}
#content #products h4 {
    line-height:1em;
}
#content #testimonials {
    width:460px;
    float:right;
}


// FOOTER
.greybar {
    width:100%;
    height:90px;
    background:$color-white2;
    clear:both;
    padding-top:30px;
}
footer {
    width:100%;
    height:120px;
    background:$color-darkgray;
    text-align:center;
    color: $color-white;
    padding-top:50px;
}
.social-media {
    margin:0 auto;
    width:165px;
}
.social-media div {
    float:left;
    margin-right:5px;
}
.social-media a {
    display:block;
    width:36px;
    height:36px;
    text-indent:-9999px;
}
.social-media div.one {
    background:url('#{$img-social}') 0 0;
}
.social-media div.two {
    background:url('#{$img-social}') -38px 0;
}
.social-media div.three {
    background:url('#{$img-social}') -76px 0;
}
.social-media div.four {
    background:url('#{$img-social}') -114px 0;
}

@import "mediaquery";

